[submodule "Packages/com.m039.common"]
	path = Packages/com.m039.common
	url = git@github.com:m039/CommonUnityLibrary.git
[submodule "Packages/com.m039.ui-toolbox"]
	path = Packages/com.m039.ui-toolbox
	url = git@github.com:m039/UnityUIToolbox.git
